body {
  background-color: black;
}

div {
  width: 5rem;
  height: 5rem;
  margin: 5rem;
}

.green {
  background-color: lime;
}

.blue {
  background-color: rgb(25, 255, 232);
}

.pink {
  background-color: rgb(253, 59, 156);
}

.orange {
  background-color: rgb(255, 145, 0);
}
