body {
  background-color: #aecfed;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  /* disable text and image highlight*/
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
}

#info-container {
  display: flex;
  flex-direction: column;
}

#santa {
  width: 300px;
  height: 300px;
}

.santa-span {
  color: #e50000;
}

#arrow {
  height: 150px;
  width: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Styling game page*/
#start-button {
  margin-top: 30px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background-color: white;
  border-radius: 5px;
}

#start-button:hover {
  background-color: #f1f1f1;
}

#gift-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px;
  grid-gap: 20px;
}

.gift {
  width: 50px;
  height: 50px;
}

.transparent {
  opacity: 0.3;
}

#tile-container {
  margin-top: 30px;
  display: grid;
  grid-template-rows: 180px 180px;
  grid-template-columns: 180px 180px;
  grid-gap: 25px;
}

.unclickable {
  pointer-events: none;
}

.tile {
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tile-green {
  background-color: #59CD90;
  border-color: #00973A;
}

#tile-green.activated { /* when tile is activated */
  background-color: #cdf0dd;
}

#tile-red {
  background-color: #ff6666;
  border-color: #CE2A2A;
}

#tile-red.activated { /* when tile is activated */
  background-color: #ffd1d1;
}

#tile-yellow {
  background-color: #f2c89b;
  border-color: #C6684E;
}

#tile-yellow.activated { /* when tile is activated */
  background-color: #fbeee1;
}

#tile-blue {
  background-color: #3FA7D6;
  border-color: #1C6282;
}

#tile-blue.activated { /* when tile is activated */
  background-color: #c5e4f2;
}

#christmas-tree {
  height: 150px;
  width: 130px;
  pointer-events: none;
}

#santa-hat {
  width: 180px;
  height: 180px;
  pointer-events: none;
}

#gingerbread-man {
  width: 180px;
  height: 180px;
  pointer-events: none;
}

#snowflake {
  width: 130px;
  height: 130px;
  pointer-events: none;
}

.hidden {
  display: none !important;
}

#snow1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: -1000;
}

#snow2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: -1000;
}

#gifts {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1000;
}