body {
  background-color: rgb(187, 218, 228);
}

main {
  margin-top: 8%;
  text-align:center;
}

.back {
  position: absolute;
  top: 10%;
  width: 80px;
  height: 40px;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(238, 236, 236);
  border-bottom: 5px solid black; 
  padding: 5px;
  z-index: 1;
}

.home {
  color: black;
  font-size: 40px;
  text-decoration: none;
}

.word-row {
  display: flex;
  height: 125px;
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.letter {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
} 

.F-long {
  width: 60%;
  height: 20%; /* 1 out of 5 rows */
}

.F-short {
  width: 25%;
  height: 20%;
}

.row {
  display: flex;
  height: 20%; /* 1 out of 5 rows */
}

#O {
  margin-left: -5%;
}

.O-short {
  width: 25%;
  height: 100%; /* 100% of row container */
}

.O-long {
  width: 40%;
  height: 20%; /* 1 out of 5 rows */
  margin: 0 auto;
}

.O-row1 {
  padding: 0 10px;
  justify-content: space-between;
}

.O-row2 {
  justify-content: space-between;
}

.in-between-spacing {
  width: 5%;
}

.R-short {
  width: 25%;
  height: 100%; /* 100% of row container */
}

.right-spacing1 {
  margin-right: 25%;
}

.right-spacing2 {
  margin-right: 35%;
}

.R-long {
  width: 60%;
  height: 20%; /* 1 out of 5 rows */
}

.M-short {
  width: 25%;
  height: 100%; /* 100% of row container */
}

.M-long {
  width: 40%;
  height: 100%; /* 100% of row container */
}

.M-row {
  justify-content: space-between;
}

.spacing {
  width: 15%;
  height: 100%;
}

.A-row {
  width: 80%;
  justify-content: space-between;
}

.A-short {
  width: 25%;
  height: 100%; /* 100% of row container */
}

.A-long {
  width: 80%;
  height: 20%; /* 1 out of 5 rows */
}

.T-long {
  width: 100%;
  height: 20%; /* 1 out of 5 rows */
}

.T-short {
  width: 25%;
  height: 20%; /* 1 out of 5 rows */
  margin: 0 auto;
}

.flex-container {
  display: flex;
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.buttons-row {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

/* Radio Button Words*/
.radio-word {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.radio-word-column {
  display: flex;
  flex-direction: column;
}

/* For bullet point containers */
.bullet-points {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.bullet-point-row {
  display: flex;
  margin: 20px 0;
}

/* For the images slide */
#tank{
  position: absolute;
  width: 30%;
  margin-left: -47%;
  margin-top: 5%;
}

#yeah{
  position: absolute;
  width: 30%;
  margin-left: 18%;
  margin-top: 15%;
}

#face{
  position: absolute;
  margin-top: 10%;
  margin-left: -15%;
  width: 30%;
}

#zebra{
  position: absolute;
  width: 30%;
  margin-top: 30%;
  margin-left: -47%;
}

#family{
  position: absolute;
  width: 30%;
  margin-top: 45%;
  margin-left: 18%;
}

#cig{
  position: absolute;
  width: 30%;
  margin-top: 50%;
  margin-left: -13%;
}

#human{
  position: absolute;
  width: 30%;
  margin-left: -45%;
  margin-top: 55%;
}

/* For who part */
.form-heading {
  text-align: center;
  font-size: 20px;
}

#img1{
  width: 25%;
  margin-top: -6%;
  left: 0.5%; 
  position: absolute;
  border-style: solid;
  border-width: 8px;
}

#img2{
  width: 30%;
  margin-left: 19%;
  margin-top: -30%;
  float: right;
  position: absolute;
  border-style: solid;
  border-width: 8px;
}

#textbox1{
  margin-left: 37%;
  margin-top: 5%;
  text-align: center;
  width: 200px;
}

#textbox2{
  margin-left: 53%;
  text-align: center;
  width: 200px;
}

#textbox3{
  margin-left: 32%;
  width: 200px;
}

#textbox4{
  margin-left: 50%;
  width: 200px;
}

.text{
  font-size: 18px;
}



