body {
}

main { 
  width: 50%;
  margin: auto;
}

h1, figure, #quote {
  text-align: center;
}

p {
  font-size: 22px;
}

ul {
  font-size: 22px;
}

li {
  padding: 10px;
}

figcaption {
  color: rgb(53, 53, 53);
}

h1 {
  border-bottom: 4px solid black;
}