#tank{
  position: absolute;
  width: 30%;
  margin-left: -47%;
  margin-top: 5%;
}

#yeah{
  position: absolute;
  width: 30%;
  margin-left: 18%;
  margin-top: 15%;
}

#face{
  position: absolute;
  margin-top: 10%;
  margin-left: -15%;
  width: 30%;
}

#zebra{
  position: absolute;
  width: 30%;
  margin-top: 30%;
  margin-left: -47%;
}

#family{
  position: absolute;
  width: 30%;
  margin-top: 45%;
  margin-left: 18%;
}

#cig{
  position: absolute;
  width: 30%;
  margin-top: 50%;
  margin-left: -13%;
}

#human{
  position: absolute;
  width: 30%;
  margin-left: -45%;
  margin-top: 55%;
}
.title{
  margin-top: 5%;
  margin-bottom: -5%;
  margin-left: 37%;
  text-align: center;
  display: flex;
}