@media screen and (max-width:768px) {
  body {
    background-color: PeachPuff;
  }
}

@media screen and (min-width:769px) {
  body {
    background: linear-gradient(to right bottom, PeachPuff,rgb(163, 212, 163), LightSteelBlue);
  }
}

main {
  margin-top: 80px;
  margin-left: 300px;
  margin-right: 300px;
}
/*
body {
  background: linear-gradient(to right bottom, PeachPuff,rgb(163, 212, 163), LightSteelBlue);
}
*/