h1 {
  text-align: center;
}

#buttons-container {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}

.button {
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 50%;
}

#success {
  margin-top: 20px;
  visibility: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}